black
ruff
mypy
tox
pytest
pytest-snapshot
structlog
pytest-structlog
line_profiler
memory_profiler
numpy
scipy
statsmodels
openpyxl
python-dotenv
psycopg[binary]
sqlalchemy
pandas[performance, plot, computation, excel, xml, hdf5]
polars-lts-cpu
ibis-framework[pandas, polars]
matplotlib
japanize-matplotlib
seaborn
fastcluster
statannotations
scikit-learn
jupyterlab
ipywidgets
ipympl
streamlit
pygwalker
rdkit
biopython
bioinfokit
bioservices
anndata
scanpy
